#filterContainer {
    display:flex;
    justify-content:center;
    align-items:center;
}

.lbl-s {
    display: none;
}

@media only screen and (max-width: 400px) {
    #search {
      width: 30%;
    }

    .lbl-m {
        display: none;
    } 

    .lbl-s {
        display: flex;
    }    
}