#tableContainer {
    display:flex;
    justify-content:center;
    align-items:center;
}

tbody tr:nth-child(odd){
    background-color: #52A55C;
}
tbody tr:nth-child(even){
    background-color: #84C68C;
}

.title {
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    img {
        width: 100%;
    }    
}